@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* login.component.css */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #36D1DC, #5B86E5); /* Adjust the colors as needed */
}

.login-card {
  width: 300px; /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: perspective(1000px) rotateX(10deg);
  transition: transform 0.3s ease-in-out;
}

.login-card:hover {
  transform: perspective(1000px) rotateX(0);
}

.mat-card-content {
  padding: 16px;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
}
