<div class="content">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <!-- General Settings -->
    <div class="content">
      <fieldset>
        <legend>General Settings</legend>
        <fieldset>
          <label for="general-generaterandom"><b>Generate Random</b></label>
          <input type="checkbox" formControlName="generateRandom" id="general-generaterandom" />
          <hr>
          <label for="general-nrofrandfilters"><b>Nr of random settings per filter:</b></label>
          <input type="number" formControlName="numberOfRandomFilters" id="general-nrofrandfilters" min="1" step="1" />
        </fieldset>
        <fieldset>
          <label for="general-nrofcombinations"><b>Nr of Combinations:</b></label>
          <input type="number" formControlName="numberOfCombinations" id="general-nrofcombinations" min="1" step="1" />
        </fieldset>
      </fieldset>
    </div>
    <!-- AI Models Settings -->
    <div class="content">
      <fieldset>
        <legend>AI Models</legend>
        <div class="checkbox" *ngFor="let model of models">
          <input type="checkbox" [id]="model.id" [name]="model.id" [(ngModel)]="model.isSelected" />
          <label [for]="model.id"><b>{{ model.name }}:</b> {{ model.description }}</label>
        </div>
      </fieldset>
    </div>
    <!-- Datasets -->
    <div class="content">
      <fieldset>
        <legend>Datasets</legend>
        <div class="checkbox" *ngFor="let dataset of datasets">
          <input type="checkbox" [id]="dataset.id" [name]="dataset.id" [(ngModel)]="dataset.isSelected" />
          <label [for]="dataset.id"><b>{{ dataset.name }}:</b> {{ dataset.description }}</label>
        </div>
      </fieldset>
    </div>
    <!-- Image enhancement -->
    <button type="submit">Apply Filters</button>
  </form>
</div>
